.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;

}

.fighter-preview___left {
  align-items: flex-start;
}
.fixed-size{
  height: 250px;
  max-width: 100%;
  align-items: center;
}
.reversed{
  transform: scaleX(-1);
}
.decription{
  font-family: 'Arial Black';
  background: #FFDFA7;
  padding: 14px;
  width: 200px;
  text-align: center;
  text-transform: uppercase;
  border: 5px solid #CA9650;
}